@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Solano Gothic MVB";
  src: url("/assets/fonts/SolanoGothicMVB-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Solano Gothic MVB";
  src: url("/assets/fonts/SolanoGothicMVB-Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-solano: "Solano Gothic MVB", system-ui, -apple-system, sans-serif;
}
/* Brand variables */
:root {
  --brand-primary: #f7fbff;
  --brand-secondary: #e6d0f9;
  --brand-dark: #111827;
  --brand-header: #8878a2;
}

.stat-card {
  @apply bg-white/80 backdrop-blur-md rounded-xl p-2 text-center
         shadow-sm hover:shadow-lg transition-all duration-300
         hover:-translate-y-1;
}

.stat-number {
  @apply text-3xl font-extrabold tracking-tight;
}

.stat-label {
  @apply text-lg mt-2 text-gray-600;
}

/* Global defaults */
/* html {
  font-family: 'Solano Gothic MVB', system-ui, -apple-system, sans-serif;
  background-color: var(--brand-primary);
  font-weight: 400;
} */
